<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TizAlerta App Report</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preload" href="public/css/normalize.css" as="style">
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/jpg" href="img/Logo.jpeg">
    
    <!-- Importando íconos -->
    <script src="https://kit.fontawesome.com/56dd043464.js" crossorigin="anonymous"></script>
    
    <!-- Importamos un tipo de fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">
    <!--<link rel="preload" href="css/styles.css" as="style"> -->
    <link rel="preload" href="css/forms.css" as="style">
    <link href="css/forms.css" rel="stylesheet" type="text/css">
    <!--<link href="css/styles.css" rel="stylesheet" type="text/css">-->
    <link href="css/normalize.css">

</head>

<body>
    <div class="hero-evolution">
        <h1 class="titulo"> Registro de Alerta </h1>
        <form action="/reportes" method="post"> <!-------------------------------->
            <div class="main-user">
                <div class="user-box">
                    <label for="nameUsuario">Título: </label>
                    <input type="text" class="form-control" id="notificacion" name="notificacion" placeholder="notificación" required> <!-- NO MOVER NADA -->
                </div>
                
                <div class="user-box">
                    <label for="userUsuario">Descripción: </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion" required> <!-- NO MOVER NADA -->
                </div>

                
                <div class="user-box-g select">
                    <span class="gT"> Tipo: </span>
                    <!-------------------------------NO MOVER----------------------------------->
                    <select class = "dropdown" id="tipo" name="tipo" placeholder="Tipo de desastre" required>
                        <option value="" disabled selected> Tipo de desastre </option>
                        <option value="sismo">Sismo</option>
                        <option value="inundacion">Inundación</option>
                        <option value="clima">Clima</option>
                    </select>
                    <!-------------------------------NO MOVER----------------------------------->
                </div>
                <div class="button-edition">
                    <button type="submit">Enviar</button>
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    
                            <if(typeof alert != "undefined"){ >
                                <script>
                                    Swal.fire({
                                        title: '<%= alertTitle %>',
                                        text: '<%= alertMessage %>',
                                        icon: '<%= alertIcon %>',
                                        showConfirmButton: <%= showConfirmButton %> ,
                                        timer: <%= timer %>
                                        }).then(()=>{
                                            window.location='/<%= ruta %>'
                                        })
                                </script>
                </div>
            </div>        
        </form>
    </div>
</body>
</html>